[Desktop Entry]
Type=Application
Name=Glacier components
Categories=Applications;
Exec=env QT_QUICK_CONTROLS_STYLE=Nemo /usr/bin/glacier-components
Icon=icon-app-components

X-Desktop-File-Install-Version=0.20

